extends layout
head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    block content
        .container-fluid
            .row
                .col-md-6
                .col-md-2
                .col-md-4.col-xs-8.col-sm-6
                    .panel.panel-primary
                        .panel-heading
                            p Iniciar Sesion
                        .panel-body
                            img.img-responsive.img-rounded(src="http://guayku.com/administrador/buses/archivos/buslogo.png")
                            form(action="/login" method="post")
                                input.form-control(type="email" name="username" style="border-radius:0px; margin-top:10px;" placeholder="Ejemplo@gpsandsecurity.com")
                                input.form-control(type="password" name="password" style="border-radius:0px; margin-top:10px;" placeholder="Clave" )
                                input.btn.btn-primary.btn-lg(type="submit" style="border-radius:0px; margin-top:10px;" value="Iniciar Sesion")
