//
   Created by Walter Suazo on 14/08/2015.
doctype html
html
   head
      title= title

      meta(name='viewport' content="width=device-width, initial-scale=1")
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
      script (src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

      //link(rel='stylesheet', href='/stylesheets/style.css'
      link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
      link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
      link( rel="stylesheet", href="css/sb-admin.css")
      link( rel="stylesheet", href="css/plugins/morris.css")
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')

      link(rel='stylesheet', href='/stylesheets/dashboard.css')
   body()
      block content

