//
   Created by Walter Suazo on 12/08/2015.

extends layoutDash
block content
      div(id="wrapper")
         nav.navbar.Style.navbar-fixed-top(role="navigation")
            .navbar-header
               a.navbar-brand(href="#")
                  i.fa.fa-bus
                  b  Buses Track
            .collapse.navbar-collapse.navbar-ex1-collapse
               ul.nav.navbar-nav.side-nav
                  li.active
                     a(href="#")
                        i.glyphicon.glyphicon-home
                        b  DashBoard
                  li
                     a(href="/Rastreo")
                        i.glyphicon.glyphicon-map-marker
                        b  Rastreo
                  li
                     a(href="#")
                        i.glyphicon.glyphicon-flag
                        b  Rutas

                  li
                     a(href="#")
                        i.glyphicon.glyphicon-indent-left
                        b  Reporte

                  li
                     a(href="#")
                        i.glyphicon.glyphicon-user
                        b  Alumnos
                  li
                     a(href="#")
                        i.glyphicon.glyphicon-bed
                        b  Conductores
                  li
                     a(href="#")
                        i.glyphicon.glyphicon-cog
                        b  Configuracion
                  li
                     a(href="#")
                        i.glyphicon.glyphicon-off
                        b  Cerrar Sesion
      div(ng-controller="BookCtrl as main")
      div(id="page-wrapper" ng-view)
         .container-fluid
            .row
               .col-lg-12
                  h1.page-header DashBoard
                     small  Informacion General
                  ol.breadcrumb
                     li.active
            .row
               .col-lg-3.col-md-6
                  .panel.panel-green
                     .panel-heading
                        .row
                           .col-xs-3
                              i.fa.fa-flag-o.fa-5x
                           .col-xs-9.text-right
                              .huge 25
                              div Rutas
                     a(href="#")
                        .panel-footer
                           span.pull-left Mas detalles
                           span.pull-right
                              i.fa.fa-arrow-circle-right
                           .clearfix
               .col-lg-3.col-md-6
                  .panel.panel-primary
                     .panel-heading
                        .row
                           .col-xs-3
                              i.fa.fa-users.fa-5x
                           .col-xs-9.text-right
                              .huge 1120
                              div Alumnos
                     a(href="#")
                        .panel-footer
                           span.pull-left Mas detalles
                           span.pull-right
                              i.fa.fa-arrow-circle-right
                           .clearfix
               .col-lg-3.col-md-6
                  .panel.panel-yellow
                     .panel-heading
                        .row
                           .col-xs-3
                              i.fa.fa-crosshairs.fa-5x
                           .col-xs-9.text-right
                              .huge Rastreo
                              div Tiempo Real
                     a(href="/Rastreo")
                        .panel-footer
                           span.pull-left Ir Mapa
                           span.pull-right
                              i.fa.fa-arrow-circle-right
                           .clearfix
               .col-lg-3.col-md-6
                  .panel.panel-red
                     .panel-heading
                        .row
                           .col-xs-3
                              i.fa.fa-bar-chart-o.fa-5x
                           .col-xs-9.text-right
                              .huge Controles
                              div Reportes
                     a(href="#")
                        .panel-footer
                           span.pull-left General Reportes
                           span.pull-right
                              i.fa.fa-arrow-circle-right
                           .clearfix

